input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.container {
  display: flex;
  width: 70%;
  margin-top: 15%;
  border-radius: 15px;
  background-color: white;
}

.left-container p {
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
  color: hsl(183, 100%, 15%);
}
#Bill {
  width: 90%;
  border-radius: 4px;
  border: none;
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: right;
  font-size: 1.5rem;
}
.tip input {
  width: 5rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 4px;
  text-align: center;
  border: none;
  margin-top: 0.5rem;
  background: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-family: 'Space Mono', monospace;
  display: block;
}
.tip button {
  background: rgb(0, 73, 77);
  border: none;
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem 2rem;
  color: white;
  display: inline-block;
  border-radius: 4px;
  font-family: 'Space Mono', monospace;
}
#custom {
  outline: 1px solid rgb(0, 73, 77);
}
.people input {
  width: 90%;
  border-radius: 4px;
  border: none;
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position-y: center;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: right;
  font-size: 1.5rem;
  outline: none;
}
.cont2 {
  background-color: hsl(183, 100%, 15%);
  margin: 1.5rem;
  width: 27%;
  border-radius: 8px;
}
.tipAmount,
.total {
  margin-top: 3rem;
}
#tp {
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin-top: -50px;
  margin-right: 30px;
  font-family: 'Space Mono', monospace;
  color: hsl(172, 67%, 45%);
}
#tipA,
#tot {
  color: hsl(0, 0%, 100%);
  font-family: 'Space Mono', monospace;
  margin-left: 30px;
  line-height: 1px;
}
#per,
#per2 {
  color: hsl(184, 14%, 56%);
  font-family: 'Space Mono', monospace;
  font-size: 10px;
  margin-left: 30px;
}
#tPP {
  float: right;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
  margin-top: -15px;
  margin-right: 30px;
  color: hsl(172, 67%, 45%);
}
.reset button {
  margin-top: 50px;
  margin-left: 15%;
  margin-bottom: 2rem;
  padding: 5px 102px;
  border-radius: 4px;
  border: none;
  color: hsl(183, 100%, 15%);
  font-family: 'Space Mono', monospace;
  background-color: hsl(172, 67%, 45%);
}
